// FIBA spec, sizes are 4x the meters

$courtLength: 1120px; // Official 28m
$courtWidth: 600px; // Offical 15m
$courtColor: blue;

$lineWidth: 2px; // Official 0.05m
$lineColor: grey;

$centerArc: 144px; // Official 3.6m
$centerArcColor: white;

$paintWidth: 232px; // Official 5.8m
$paintLength: 196px; // Official 4.9m
$paintColor: yellow;