.circle {
    width: $circleArc;
    height: $circleArc;
    position: absolute;
    top: ($courtLength / 4) - ($circleArc / 2);
    border: $lineWidth $lineColor solid;
    border-radius: $circleArc;
    z-index: 1;
    
}

.half-court {
    width: $courtWidth - ($lineWidth / 2);
    height: $courtLength / 2;
    background: $courtColor;
    position: relative;
    z-index: 0;
    overflow: hidden;
    float: left;
    border-width: $lineWidth ($lineWidth / 2) $lineWidth $lineWidth;
    border-color: $lineColor;
    border-style: solid;
    
    .center-circle {
        @extend .circle;
        background: $centerArcColor;
        right: 0px - ($circleArc / 2) - ($lineWidth / 2);
    }
    
    .three-point {
        z-index: 1;
        .paint {
            width: $paintWidth;
            height: $paintLength;
            background: $paintColor;
            top: ($courtLength / 4) - ($paintLength / 2);
            position: absolute;
            z-index: 2;
            border: $lineWidth $lineColor solid;
        }
        .free-throw {
            @extend .circle;
            left: $paintWidth - ($circleArc / 2);
        }
    }
    &.mirror {
        border-width: $lineWidth $lineWidth $lineWidth ($lineWidth / 2);
        .center-circle {
            left: 0px - ($circleArc / 2) - ($lineWidth / 2);
        }
        .three-point {
            .paint {
                right: 0px;
            }
            .free-throw {
                left: inherit;
                right: $paintWidth - ($circleArc / 2);
            }
        }
        
    }
}
